spring:
  application:
    name: taco-cloud
  datasource:
    generate-unique-name: false
    name: tacocloud
  security:
    oauth2:
      client:
        registration:
          facebook:
            clientId: 1041524020668107
            clientSecret: clientSecret
            scope: email, public_profile